.root {
	-fx-background-image: url("/HotelStaff.jpg");
}

#minimize {
	 -fx-background-color: #4e4242;
     -fx-background-image: url("/RootLayout最小化.jpg");
}

#close {
    -fx-background-image: url("/RootLayout关闭.jpg");
	-fx-background-color: #4e4242;
}

#room { /*把按钮设置成圆角矩形  */           

   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	    -fx-font-weight: bold;
    -fx-text-fill: #4e4242;
    -fx-background-color: linear-gradient(#d8d1cd,#d2c6be, #c6b8af);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 ); 
}

#room-h { /*把按钮设置成圆角矩形  */           

   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	-fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color:  linear-gradient(#99e7f4,#96e4f0,#7fd3de);  
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#dealorder { /*把按钮设置成圆角矩形  */           

   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	    -fx-font-weight: bold;
    -fx-text-fill: #4e4242;
    -fx-background-color: linear-gradient(#d8d1cd,#d2c6be, #c6b8af);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#dealorder-h { /*把按钮设置成圆角矩形  */           

   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	-fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color:  linear-gradient(#99e7f4,#96e4f0,#7fd3de);  
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}


#promotion { /*把按钮设置成圆角矩形  */           
   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	    -fx-font-weight: bold;
    -fx-text-fill: #4e4242;
    -fx-background-color: linear-gradient(#d8d1cd,#d2c6be, #c6b8af);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#promotion-h { /*把按钮设置成圆角矩形  */           
   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	-fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color:  linear-gradient(#99e7f4,#96e4f0,#7fd3de);  
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#maintenance { /*把按钮设置成圆角矩形  */           

   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	    -fx-font-weight: bold;
    -fx-text-fill: #4e4242;
    -fx-background-color: linear-gradient(#d8d1cd,#d2c6be, #c6b8af);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#maintenance-h { /*把按钮设置成圆角矩形  */           
   -fx-font-size: 18px;
 	-fx-font-family: "黑体";
 	-fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color:  linear-gradient(#99e7f4,#96e4f0,#7fd3de);  
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5; 
    -fx-effect: dropshadow( gaussian , rgba(78,66,66,2.5) , 0.5,0.5,1,1 );  
}

#staff {   
	-fx-font-size: 14px;
   -fx-font-family: "微软雅黑";
   -fx-fill: #ffffff;
	
}

 #SignOut {
	-fx-font-size:13px;
	}
