.root{
	-fx-background-image:url("'/背景1.png"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
}
.VBox{
	-fx-border-color:black;
	-fx-border-width:1px;
}
.CloseButton{
	-fx-background-image:url("'/关闭按钮.png"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-border-color:white;
	-fx-border-width:0;
}